body{
    background-color:#000;
}
.container {
    padding-top:164px;
    padding-bottom:86px;
}

h1 {
    color:red;
    font-size:40px;
    text-transform: capitalize;
    font-weight: 900;
}

p {
    font-size:18px;
    color:#fff;
    font-family: 'CircularSpotifyTxT-Med';
}

.bloco {
    width:248px;
    color:#fff;
    margin-right: 20px;
    margin-bottom: 46px;
}
 .bloco img{
    width:248px;
    height:387px;
}

.bloco .info-carrossel {
    border:1px solid #fff;
    width:128px;
    font: normal normal medium 18px/100px;
    text-align:center;
    opacity:1;
    border-radius:3px;
    margin-top: 27px;
    margin-bottom:6px;
}

.bloco h2 {
    font-size:30px;
    font-weight: 900;
    letter-spacing: -0.3px;
}

.bloco a, .bloco .item a:hover {
    text-decoration: none;
    color:#fff;
}
/*RESPONSIVO*/
@media (max-width:576px) {
    .container {
        padding-top:20px;
        padding-left:28px;
    }

    h1 {
        font-size:23px;
    }

    p {
        font-size:12px;
       
    }

    .bloco {
        width:148px;
        margin-bottom: 38px;
    }
     .bloco img{
        width:149px;
        height:232px;
    }
    
    .bloco .info-carrossel {
        width:111px;
        font: normal normal medium 12px/100px;
    }
    
    .bloco h2 {
        font-size:20px;
    }
    
}

@media (min-width:577px) and (max-width:768px) {
    .container {
        padding-top:80px;
        padding-left:28px;
        
    }

    h1 {
        font-size:30px;
    }

    p {
        font-size:12px;
    }

    .bloco {
        width:148px;
        margin-bottom: 38px;
    }
     .bloco img{
        width:149px;
        height:232px;
    }

    .bloco .info-carrossel {
        width:111px;
        font: normal normal medium 12px/100px;
    }
    
    .bloco h2 {
        font-size:20px;
    }
    
}

@media (min-width:769px) and (max-width:1200px) {
    .container {
        padding-top:80px;
        padding-left:28px;
        
    }

    h1 {
        font-size:30px;
    }

    p {
        font-size:12px;
    }
    .bloco {
        width:150px;
    }

    .bloco img {
        width:150px;
        height:250px;
    }

    .bloco h2 {
        font-size:20px;
    }
}